*,
*:before,
*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000cf;
    font-family: 'Anonymous Pro', sans-serif;
}

h1{
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

.array{
    color: #fff;
    font-size: 13px;
    margin-bottom: 3px;
}

.arr-map, .result-map, .arr-filter, .result-filter, .arr-reduce, .result-reduce, .arr-find, .result-find, .arr-findIndex, .result-findIndex{
    padding-top: 60px;
}

.code{
    width: 33%;
}

hr{
    margin: 0px 0;
    padding: 0;
    height: 10px;
    border: none;
    border-top: 3px solid #333;
    box-shadow: 0 10px 6px -11px #8c8b8b inset;
}